<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Mistage</title>
</head>

<body>

<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>

    <ul>
            <li th:each="chatRoom : ${chatRooms}">

            <span th:text="${chatRoom.getName()}"></span>
        </li>
    </ul>

    <form th:action="@{/create-new-room}" method="post" th:object="${newRoom}">
        <input type="text" th:field="*{name}">
        <input type="submit">
    </form>

    <br>

<form th:action="@{/delete-room/id}" method="post">
    <label>
        <input type="text" name="id" placeholder="ID Number: ">
    </label>
    <button>Delete By ID</button>
</form>

<form th:action="@{/delete-room/name}" method="post">
    <label>
        <input type="text" name="name" placeholder="Channel Name">
    </label>
    <button>Delete By Name</button>
</form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>